
$red: #D73252;
$white: #fff;
$header-blue: #06038D;
$input-blue: #3434E0;
$title-blue: #0A008B;
$darker-grey: #919191;
$magenta: #C6007E;
$grey: #F2F2F2;
$disabled-grey: #c1c1c1;
$font-size: 20px;


