
@import url('https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css');

$red: #D73252;
$header-blue: #06038D;
$input-blue: #3434E0;
$title-blue: #0A008B;
$magenta: #C6007E;
$grey: #F2F2F2;

body{
    color: #000;
    background-color:$grey;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.throbber{
    display: flex;
    justify-content: center;
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $magenta;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $magenta transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

.content{
    height: 98vh;
    display: flex;
    justify-content: center;
   // align-items: center;
   // background-image: url("/public/images/background.svg");
   .content-bg{
    z-index: -1;
    position: fixed;
   }
}
@mixin mini-ticket{
    display: flex;
    padding: 15px;
    color:#000;
    font-weight: bold;
    .mini-calendar{
        background: #FFFFFF;
        border: 2px solid #E1E1E1;
        box-sizing: border-box;
        border-radius: 3px;
        width: 40px;
        height: 46px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 13px;
        line-height: 15px;
        .month{
            background: #f2f2f2;
        }
        .day{
            font-size: 18px;
            line-height: 21px;
            align-content: center;
            height: 100%;
            display: grid;
        }
    }
    .dep-destination{
        margin-left: 14px;
        display: flex;
        flex-direction: column;

        .dep-destination-ports{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 15px;
            
        }
        .dep-destination-time{
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.destination-box{
        width: 570px;
        min-height: 365px;
        background: #FFFFFF;
        margin: 0 auto;
    .destination-header{
        min-height: 50px;
        background-color: $header-blue;
        display: flex;
        align-items: center;
        
        svg{
            margin: 10px 15px;
        }

        h2{
            margin: 0;
            color: white;
            font-family:'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 21px;
            text-transform: uppercase;
        }
    }   
    .destination-content{
        
        padding: 25px;
        .flight-selection, .date-selection{
            display: flex;
            margin-bottom: 50px;
            .error-message{
               // width: calc(50% - 10px);
               padding: 15px 0;
               display: flex;
               align-items: center;
               p{
                margin: 0;
                font-size: 13px;
                line-height: 15px;   
                color: $magenta;
               }
               svg{
                margin-right: 10px;
               }
            }
            .flight-selection-origin, .date-selection-origin {
                margin-right: 20px;
            }
        }
        .date-selection{
            .react-datepicker-wrapper{
                width: 100%;
                .react-datepicker__input-container{
                    width: 100%;
                }
            }
        }
        .input-holder{
            width: calc(50% - 10px);
            height: 50px;

       
            input, .date-input{
            width: 100%;
                background: #fff;
                border: 1px solid #919191;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 15px;
                &:focus{
                    outline: none;
                    border: 2px solid $magenta;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 10px rgba(198, 0, 126, 0.35);
                    border-radius: 3px;
                    background: #FFF2FA;
                    padding: 14px;
                }
            }
        }
        .search-destination{
            display: flex;
            justify-content: center;
            .search-btn{
                background-color: $input-blue;
                width: 230px;
                height: 50px;
                border-radius: 3px;
                color: #fff;
                display: flex;
                font-family:'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                &:hover{
                    background-color: $magenta;
                    cursor: pointer;
                }
            }
        }
       
    }

}
.modal-wrapper{
    position: fixed;
    z-index: 150;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .confirm-modal{
        width: 488px;
        height: 204px;
        background: #FFFFFF;
        border-radius: 3px;
        .confirm-modal-title{
            background: #F2F2F2;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 19px;
            color: $header-blue;
        }
        .confirm-modal-tickets{
            display: flex;
            justify-content: space-around;
            margin: 10px -15px;
            .ticket-listitem{
                @include mini-ticket;
            }
        }
        .confirm-modal-sum{
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            margin: 0 30px;
            .confirm-modal-sum-price{
               
                font-size: 20px;
                line-height: 23px;
                .price{
                    color: $header-blue
                }
            }
            .confirm-modal-sum-reset{
                a{
                    color: $magenta;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}


.result-selection{
    width:100%;
    .result-selection-header{
        color: #fff;
        height: 60px;
        background-color: $header-blue;
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 100;
        width: 100%;
        .mito-logo{
            margin-left: 20px;
        }
        .result-selected-ports{
            display: flex;
            margin-left: 126px;
            align-items: center;
            font-size: 20px;
            line-height: 23px;
            p{
                text-transform: uppercase;
                font-size: 10px;
                line-height: 12px;
                margin: 0;
            }
            .arrows{
                display: flex;
                margin: 0 40px;
                flex-direction: column;
            }
            
        }
    }
    .result-selection-content{
        margin-top: 60px;
        display: flex;
        .result-selection-left{
            flex: 3;
            width: 230px;
            margin: 130px 0 0 20px;
            position: fixed;
            .ticket-basket{
                min-height: 160px;
               .price{
                   float: right;
               }
                .ticket-basket-flights{
                    background-color: #fff;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 16px 15px 8px;
                    font-weight: 700;
                    span.price{
                        color: $header-blue;
                    }
                }
                .ticket-basket-flight-list{
                    background-color: #fff;
                   /*  padding: 8px 15px; */
                    color: #919191;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    .empty-list{
                        max-width: 150px;
                        padding: 20px 15px;
                    }
                    .ticket-listitem{
                        @include mini-ticket;
                        &:nth-child(1){
                         border-bottom: 1px dashed #C1C1C1;
                        }
                    }
                }
                .ticket-basket-flights-total{
                    color: #fff;
                    background-color: $header-blue;
                    padding: 15px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                }
                .ticket-basket-purchase{
                    margin-top: 20px;
                    button{
                        background: $magenta;
                        text-transform: uppercase;
                        border: none;
                        width: 100%;
                        color: #fff;
                        height: 50px;
                        border-radius: 3px;
                        cursor: pointer;
                        &.disabled{
                            background: #C1C1C1;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
        .result-selection-right{
            flex: 9;
            margin: 0 20px 0 270px;
            width: 100%;
            .result-selection-title{
                height: 130px;
                display: flex;
                align-items: center;
                h2{
                    color: $title-blue;
                    font-size: 40px;
                    line-height: 47px;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin: 0;
                 }
                 svg{
                     margin-right: 24px;
                 }
            }
            .result-selection-table{
                background-color:#fff;
                margin-bottom: 40px;
                box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                .ticket-header{
                    min-height: 58px;
                    background-color:$grey;
                    color: #919191;
                    display: flex;
                    align-items: center;
                    .direction{
                        margin-left: 20px;
                        flex: 1;
                        font-size: 18px;
                        line-height: 21px;
                    }
                    .cites{
                        display: flex;
                        flex: 3;
                        align-items: center;
                        justify-content: center;
                        .to, .from{
                            color: $header-blue;
                            font-size: 22px;
                            line-height: 26px;
                            font-weight: bold;
                        }
                        svg{
                           margin: 0 24px; 
                        }
                    }
                }
                .ticket-date-selection{
                    min-height: 58px;
                    display: flex;
                    align-items: center;
                    .act-date{
                        text-align: center;
                        flex: 2;
                        font-size: 18px;
                        line-height: 21px;
                        color: #343434;
                    }
                    .next-date{
                        text-align: right;
                        svg{
                            margin: 0 12px 0 6px;
                        }
                    }
                    .prev-date{
                        svg{
                            margin: 0 6px 0 12px;
                        }
                    }
                    .prev-date, .next-date{
                        flex: 1;
                        color: #919191;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 15px;
                        display: contents;
                        svg{
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .ticket-grid{
                    display: flex;
                    flex-direction: column;
                    .ticket-grid-row{
                        display: flex;
                        border-top: 1px solid #e5e5e5;
                        height: 96px;

                        .ticket-grid-coll{
                            flex:1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            text-align: center;
                            position: relative;
                            &:nth-child(3){
                                background-color: #f2f2f2;
                            }
                            button{
                                background-color: #fff;
                                border: 2px solid $magenta;
                                padding: 12px 0;
                                width: 160px;
                                font-size: 17px;
                                font-weight: bolder;
                                &.selected{
                                    background-color: $magenta;
                                    color:#fff;
                                }
                                &:hover{
                                    cursor: pointer;
                                    color:#fff;
                                    background-color: $magenta;
                                }
                            }
                            span.ticket_def{
                                position: absolute;
                                top: 5px;
                                font-weight: bold;
                                font-size: 10px;
                                line-height: 12px;
                                text-transform: uppercase;
                                
                            }
                            span.ticket_time{
                                font-size: 15px;
                                line-height: 18px;
                                svg{
                                    margin-bottom: 1px;
                                }
                            }
                        }

                    }
                }
            }

        }
    }
}