@import url('https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.8.0/react-datepicker.min.css');
@import '/src/styles/index.scss';

body{
    color: #000;
    background-color:$grey;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

.throbber{
    display: flex;
    justify-content: center;
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $magenta;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $magenta transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
}

.content{
    height: 98vh;
    display: flex;
    justify-content: center;

   .background{
    z-index: -1;
    position: fixed;
    object-fit: cover;
    height: 100%;
    width: 100%;
   }
}
